@import "./variables.module.scss";

.wrapper {
  position: relative;
  width: 100%;
  height: calc(100vh - $headerHeight);
  padding: 1rem;

  display: grid;
  grid-template-columns: 148px 3fr 7fr;
  gap: 0 1.5rem;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    padding: 1rem 0 48px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}
